!
! Comments begin with a "!" character.
!

! Cursor

Xcursor.size: 16

!XTerm

XTerm*background:         black
XTerm*foreground:         white
XTerm*cursorColor:        white
!XTerm*VT100.geometry:     80x25

! XTerm*faceName:           Terminus:style=Regular:size=10
! XTerm*font:              -*-dina-medium-r-*-*-16-*-*-*-*-*-*-*

XTerm*font:               terminus-10
XTerm.termName: 	  xterm-256color
XTerm*dynamicColors:      true
XTerm*utf8:               2
XTerm*eightBitInput:      true
XTerm*saveLines:          1024
XTerm*scrollKey:          true
XTerm*scrollTtyOutput:    false
XTerm*scrollBar:          true
XTerm*rightScrollBar:     true
XTerm*jumpScroll:         true
XTerm*multiScroll:        true
XTerm*toolBar:            false
!Xterm*loginShell: 	  true

!UXTerm

UXTerm*background:         black
UXTerm*foreground:         white
UXTerm*cursorColor:        white
!UXTerm*VT100.geometry:     90x30

! UXTerm*faceName:           Terminus:style=Regular:size=10
! UXTerm*font:              -*-dina-medium-r-*-*-16-*-*-*-*-*-*-*

UXTerm*font:               terminus-10
UXTerm.termName: 	   xterm-256color
UXTerm*dynamicColors:      true
UXTerm*utf8:               2
UXTerm*eightBitInput:      true
UXTerm*saveLines:          1024
UXTerm*scrollKey:          true
UXTerm*scrollTtyOutput:    false
UXTerm*scrollBar:          true
UXTerm*rightScrollBar:     true
UXTerm*jumpScroll:         true
UXTerm*multiScroll:        true
UXTerm*toolBar:            false
