# Alias Misc
alias ls='ls --color=auto'
alias la='ls -a'
alias l='ls -lah'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias cd..='cd ..'
alias md='mkdir -p'
alias gdb='gdb -q'
alias ip='ip -c'

# Vim maniac
alias :q='exit'

# Alias editor
alias v='vim'

# Alias clumsy operator
alias vi='vim'
alias bim='vim'
alias cim='vim'

# Alias Path
alias .dot='cd $DOT_PATH'
alias lbin='cd ~/.local/bin'

# Alias Git
alias gc='git commit -v'
alias gcm='git commit -v -m'
alias gcam='git commit -v -a -m'
alias gss='git status -s'
alias gp='git push'
alias gpl='git pull'
alias gsl='git shortlog'
alias gll='git log --oneline'
alias gls='git ls-files'

# Alias compilation
alias gccf='gcc -Wall -Wextra -Werror -pedantic -std=c99'
alias g++f='g++ -Wall -Wextra -Werror -pedantic -std=c++17'

# Alias K8s
alias k='kubectl'
alias kctx='kubectx'
alias kns='kubens'
