[user]
    name = Sevan Murriguian
    email = murrig_s@epita.fr
    signingkey = 0xe983e2a1f6562f39
[color]
    ui = true
[push]
    default = simple
[pull]
    rebase = true
[commit]
    verbose = true
    gpgsign = true
[gpg]
    program = gpg2

; include if currently in the CRI subdirectory
[includeIf "gitdir:~/Documents/Dev/cri/"]
    path = ~/.gitconfig_cri
